<% layout('layout') -%><h1>إضافة عميل</h1>
<form method="POST" action="/add-client">
<input name="name" placeholder="الاسم" required>
<input name="phone" placeholder="موبايل" required>
<input name="transport" placeholder="وسيلة النقل">
<input name="city" placeholder="المدينة">
<input name="travelDate" placeholder="تاريخ السفر">
<input name="seatNumber" placeholder="الكرسي" type="number">
<button type="submit">حفظ</button></form>